html, body {
    display: flex;
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.board-container{
    display: flex;
    flex-direction: column;
    width: 35em;
    height: 35em;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    flex: 1;
}